html{
    background-image: url(images/background.jpg);
    background-position: center;
    cursor: url(images/cursor.png), pointer;
    text-align: center;
    font-family: fantasy;
}

input{
    display: inline-grid;
    position: relative;
    margin: 6rem;
    margin-left: 150px;
    margin-right: 180px;
    padding: 2rem;
    font-family: fantasy;
    font-size: 25px;
    border-radius: 60%;

}

/*images*/
img{
    display: inline-grid;
    align-content: center;
    padding: 1rem;
    margin: 10rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    cursor: url(images/pointer.png), pointer;
}


input{
    cursor: url(images/cursor.png), pointer;
}